# dedupe-direct-deps=true
engine-strict=true
strict-peer-dependencies=true
prefer-frozen-lockfile=true
disallow-workspace-cycles=true
package-manager-strict=true
link-workspace-packages=true
node-linker=isolated
