# dedupe-direct-deps=true
engine-strict=true
strict-peer-dependencies=true
prefer-frozen-lockfile=true
disallow-workspace-cycles=true
package-manager-strict=true
prefer-symlinked-executables=true
link-workspace-packages=true
node-linker=isolated
update-notifier=false
# hoist-pattern[]=typescript
# hoist-pattern[]=typedoc*
public-hoist-pattern[]=[]
