:root {
	--sl-font: "Metropolis", sans-serif;
}

/* CCL-themed colors */
/* Dark mode colors. */
:root {
	--sl-color-accent-low: #1a1f29;
	--sl-color-accent: #4a90e2;
	--sl-color-accent-high: #b0d4f1;
	--sl-color-white: #ffffff;
	--sl-color-gray-1: #c3d9fa;
	--sl-color-gray-2: #8db9d0;
	--sl-color-gray-3: #00659d;
	--sl-color-gray-4: #004466;
	--sl-color-gray-5: #002342;
	--sl-color-gray-6: #00172e;
	--sl-color-black: #001d0d;
}
/* Light mode colors. */
:root[data-theme="light"] {
	--sl-color-accent-low: #c4dcce;
	--sl-color-accent: #2980b9;
	--sl-color-accent-high: #0f3a23;
	--sl-color-white: #001d0d;
	--sl-color-gray-1: #00172e;
	--sl-color-gray-2: #002342;
	--sl-color-gray-3: #004466;
	--sl-color-gray-4: #00659d;
	--sl-color-gray-5: #8db9d0;
	--sl-color-gray-6: #c3d9fa;
	--sl-color-gray-7: #e1fdec;
	--sl-color-black: #ffffff;
}